<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List</ion-title>
    <ion-buttons end>
      <button ion-button (click)="toggleEditState()" *ngIf="!currentlyEditingFlag">Edit</button>
      <button ion-button (click)="toggleEditState()" *ngIf="currentlyEditingFlag">Done</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ul>
		<li class="kao-li" *ngFor="let kao of loadedKaos" id="kao-{{kao.id}}"><a *ngIf="currentlyEditingFlag" (click)="deleteKao(kao)">X</a><div (click)="passKaoAndReturn(kao)"><span>{{kao.face}}</span></div></li>
	</ul>
</ion-content>