<ion-header hidden>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="kao-page">
	<div class="kao-wrapper">
	  <input type="text" id="current-kao" [(ngModel)]="currentKao.face" name="face" (keyup)="autoResizeKao()" (paste)="autoResizeKao()">
  </div>
  <div class="bottom-menu">
  	<div class="hidden-menu" *ngIf="showHiddenMenuFlag">
	  	<a (click)="toggleMainMenu()">/&#92;</a>
		  <a>&nbsp;</a>
		  <a>&nbsp;</a>
		  <a>&nbsp;</a>
		  <a>&nbsp;</a>
		</div>
  	<div class="main-menu" *ngIf="showMainMenuFlag">
	  	<a (click)="toggleMainMenu()">&#92;/</a>
		  <a (click)="toggleEditMenu()">Edit</a>
		  <a (click)="randomKao()">Random</a>
		  <a (click)="saveCurrentKao()">Save</a>
		  <a [navPush]="listPage">List</a>
		</div>
		<div class="edit-menu" *ngIf="showEditMenuFlag">
	  	<a (click)="toggleEditMenu()">Done</a>
		  <a>Color</a>
		  <a>Shadow</a>
		  <a>Background</a>
	  </div>
  </div>
  <span id="font-size-tester"></span>

	<!--  <a (click)="updateKao('color', 'yellow')">change to yellow</a> -->
</ion-content>
